.ui.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ui.card > .image img {
  height: 300px;
  object-fit: contain;
}

.ui.huge.header.center.aligned {
  margin-bottom: 30px;
}

.ui.card .description {
  min-height: 120px;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-bottom: 40px;
}